<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{article.title}} via Orbiter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="{{config.home}}/templates/default/assets/style.css" />
	<link rel="alternate" type="application/rss+xml" href="{{config.home}}/rss/" />
</head>
<body>

<div id="soul">

	<nav id="header">
		<header>
			<h1><a href="{{config.home}}">My New Site</a></h1>
		</header>

		<ul class="menu">
			<li><a href="{{config.home}}/">Index</a></li>
			<li><a href="{{config.home}}/about/">About</a></li>
			<li><a href="{{config.home}}/rss/">RSS</a></li>
			<li><a href="http://twitter.com/viaorbiter">@viaOrbiter</a></li>
		</ul>
	</nav>
	
	<section id="article">
		{{#article}}
		<article>
			{{{content}}}
		</article>
		{{/article}}
	</section>

	<nav id="footer">
		<ul class="menu">
			<li><a href="{{config.home}}/">Index</a></li>
			<li><a href="{{config.home}}/rss/">RSS</a></li>
			<li><a href="http://twitter.com/viaorbiter">@viaOrbiter</a></li>
		</ul>

		<a href="http://viaorbiter.com" id="via-orbiter" title="Published via Orbiter">Published via Orbiter</a>
	</nav>	

</div><!-- #soul -->

</body>
</html>